$width: 7em;
$height: 10em;
$half-height: $height *0.5;
$font-size: $height;
$font-color: #fff;
$bg-color: #3f3f3f;

.countdown-wrapper{
  display: flex;
}
.group-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.description {
  flex: 0 0 100%;
  text-align: center;
  font-weight: 700;
}
.separator{
  display: flex;
  margin: 5px;
  font-size: $height;
  align-items: center;
  justify-content: center;

}

.digit-container{
  position: relative;
  width: $width;
  height: $height;
  margin: 5px;

  .top, .bottom {
    display: flex;
    justify-content: center;
    flex-grow:1;
  }
  .front, .back{
    display: flex;
    flex-grow:1;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    font-size: $font-size;
    position: absolute;
    color: $font-color;
    width: 100%;
    border-radius: 10px;
  }
  .front{
    z-index: 2;
  }

  .back{
    z-index: 1;
  }

  .bottom {
    .front, .back{
      bottom: 0;
      height: 50%;
      line-height: 0;
      background: $bg-color;
      border-top: solid 2px white;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }


    .front {
      z-index: 4;
      transform: rotateX(90deg);
      transform-origin: top;



      &.active{
        transition: transform 0.4s;
        transform-origin: top;
        transition-delay: 0.25s;
        transform: rotateX(0deg);
        //box-shadow: 0 0 1em 1em black inset;
      }
    }

    .back {
      z-index: 3;


      &.active{
          //background: black;
        transition: box-shadow .65s linear;
        box-shadow: 0px $height 50px 50px black inset
      }
    }
  }
  .top {

    .front, .back{
      top: 0;
      vertical-align: top;
      height: 100%;
      line-height: 100%;
      background: $bg-color;
      -webkit-perspective: $height;
      -moz-perspective: $height;
      -o-perspective: $height;
      perspective: $height;

    }
    .front.active {
      transition: transform 0.4s;
      transform-style: preserve-3d;
      transform: rotateX(-90deg);
      box-shadow: 0 0 1em 1em black inset;
    }
  }
}
